$text-color: #1d1e1f;

$red1: #ff4848;
$red2: #fe0000;
$accent-color: $red1;

$white: #fff;

$font-family-mono: 'IBM Plex Mono', monospace;
$font-family-sans: 'Hind', sans-serif;

$screen-sm: 768px;
$screen-md: 1024px;