$text-color: #1d1e1f;
$text-color-light: rgba($text-color, 0.75);

$red1: #ff4848;
$red2: #fe0000;
$accent-color: $red1;

$white: #fff;

$font-family-mono: 'IBM Plex Mono', monospace;
$font-family-sans-serif: 'Inter', sans-serif;
$font-family-serif: 'IBM Plex Serif', serif;

$focus-outline: 2px dashed $accent-color;

$line-measure: 90ch;

$screen-sm: 768px;
$screen-md: 1024px;