.menu-main {
    border-top: 1rem solid $accent-color;

    display: flex;
    justify-content: space-around;

    padding: 1rem 0;

    li {
        font-size: 120%;
    }

    .menu-item,
    .page_item {
        a {
            background: none;
            border-bottom: 2px solid $text-color;

            &:hover,
            &:focus {
                background: none;
            }
        }
    }

    .current-menu-item,
    .current_page_item {
        a {
            &::before {
                content: '>';
                display: inline-block;
                margin-right: 0.5rem;
            }
        }
    }

}

.menu-404 {
    font-size: 100%;
    text-align: center;
}

#nav-below {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: $screen-sm) {
    .menu-main {
        flex-direction: column;

        * + * {
            margin-top: 1rem;
        }
    }
}