.entry-title {
    margin-bottom: 2rem;

    a {
        background: none;
        font-family: $font-family-serif;

        &:hover,
        &:focus {
            color: $text-color;
        }

        &:focus {
            outline: $focus-outline;
        }
    }
}

.entry-meta {
    margin-bottom: 1rem;
}

.author {
    & > a {
        background: none;
        text-decoration: underline;

        &:hover,
        &:focus {
            background: none;
        }
    }
}

.entry-date {
    color: $text-color-light;
    font-size: 80%;
    margin-bottom: 0.5rem;
}

.post {
    margin-bottom: 2rem;
}

.read-more {
    display: block;
}