body {
    color: $text-color;
    font-family: $font-family-serif;
    font-size: 1.25em;
    line-height: 1.5;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:focus {
        outline: $focus-outline;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.602rem;
}

h2 {
    font-size: 1.424rem;
}

h3 {
    font-size: 1.266rem;
}

h4 {
    font-size: 1.125rem;
}

p {
    margin-bottom: 1rem;
}

p,ul,ol,dl,span,a {
    font-family: $font-family-sans-serif;
}

p,ul,ol,dl,span,pre,code,blockquote,cite,#content {
    max-width: $line-measure;
}

a {
    background: rgba($accent-color,0.1);
    color: $text-color;
    text-decoration: none;
    transition: background 0.2s linear;

    &:hover,
    &:focus {
        background: rgba($accent-color,0.4);
        outline: none;
    }
}

hr {
    border-top: 1px dashed $text-color;
}

pre,
code,
.wp-block-preformatted {
    background: rgba($text-color,0.1);
    font-family: $font-family-mono;
    padding: 1rem;
    margin-bottom: 1rem;
}

blockquote,
.wp-block-quote {
    color: $text-color-light;
    border-left: 0.5rem solid $accent-color;
    font-size: 120%;
    font-style: italic;
    padding: 1rem;
    margin-bottom: 1rem;
}

cite {
    display: block;
    font-size: 80%;
    text-align: right;

    &::before {
        content: '\2013'
    }
}

@media only screen and (min-width: $screen-sm) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }
}